body {
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	color: #333333;
	font-size: 14px;
	line-height: 24px;
	background: #eee;
	-moz-osx-font-smoothing: grayscale;
}
/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 124px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

.icon {
	font-size: 60px;
	color:#000;
	margin-bottom: 12px;
}
.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	color: #ffffff;
	background-color: #404a27;
	border-color: rgba(0, 0, 0, 0);
}
.btn-primary {
	color: #ffffff;
	background-color: #9eafa9;
	border-color: transparent;
}

.btn-primary:hover {
	color: #ffffff;
	background-color: #404a27;
	border-color: rgba(0, 0, 0, 0);
}
/*GOOGLE MAP*/
.marketmap {
	position: absolute;
	width: 100%;
	z-index: 999;
	background: #fff;
	left: 0;
	height: 450px;
}
#map-canvas{
	width:100%;
	height: 450px;
}
.scroll {
	float:right;
	display:inline-block;
}
.float_none {
	width: 100%;
	position: relative;
	margin-top:460px;
}
nav .container {
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
}
.container{
 width: 100%;
}
.jumbotron  {
  margin-bottom: 30px;
  font-weight: 200;
  color: inherit;
  background-image: url('../Content/Images/produce.jpg');
  background-size: 100vw;
}

.jumbotron h1, .jumbotron .h1 {
	padding: 124px 0px 0px 0px;
	color:#fff;
}
.lead {
	color:#fff;
}
/*NAVBAR*/
a {
	color: #333333;
	font-weight:bold;
	text-decoration: none;
	text-transform:uppercase;
}
a:hover, a:focus {
	color: #fff;
	font-weight:bold;
	text-transform:uppercase;
	text-decoration: underline;
}
.navbar-brand {
	color: #fff;
	text-transform:uppercase;
}

.navbar-collapse {
	/*display: block !important;
	height: auto !important;
	padding-bottom: 0;
	overflow: visible !important;*/
	background-color:#ad8699;	
	max-width: 1600px;
	margin: 0px auto;
	text-transform:uppercase;
}
/*.nav-container,
nav {

}*/

.overlay-nav {
	position: fixed;
	top: 0px;
	z-index: 10;
	width: 100%;
	padding-top: 24px;
	line-height: 1;
	background-color: #ad8699;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
}
.show-content {
	opacity: 1 !important;
}

.menu {
	display: inline-block;
	text-align: left;
	line-height: 1;
	list-style:none;
}
.menu li {
	float: left;
	margin-right: 32px;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	position: relative;
	top: 4px;
}
.menu li:last-child {
	margin-right: 0px;
}
.menu li:nth-las-child(2) {
	margin-right: 12px;
}

.navbar-collapse.collapse
.menu li a:hover {
	border-bottom: 2px solid #fff;
}

.logo {
	width:auto;
	height: 200px;
}

.btn-circle {
	width: 70px;
	height: 70px;
	margin-top: 15px;
	padding: 7px 16px;
	border: 2px solid #723f68;
	border-radius: 100%!important;
	font-size: 40px;
	color: #333;
	background: 0 0;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
.btn-circle:focus,.btn-circle:hover {
	outline: 0;
	color: #404a27;
	background: rgba(255,255,255,.1)
}

.btn-circle i.animated {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 1s
}

.btn-circle:hover i.animated {
	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear
}

@-webkit-keyframes pulse {
	0%,100% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}

	50% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2)
	}
}

@-moz-keyframes pulse {
	0%,100% {
		-moz-transform: scale(1);
		transform: scale(1)
	}

	50% {
		-moz-transform: scale(1.2);
		transform: scale(1.2)
	}
}
.btn:after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: -webkit-radial-gradient(circle, #000000 10%, transparent 10.01%);
	background-image: -o-radial-gradient(circle, #000000 10%, transparent 10.01%);
	background-image: radial-gradient(circle, #000000 10%, transparent 10.01%);
	border-radius: 100% !important;
	background-repeat: no-repeat;
	-webkit-background-size: 1000% 1000%;
	background-size: 1000% 1000%;
	background-position: 50%;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: background .5s, opacity 1s;
	-o-transition: background .5s, opacity 1s;
	transition: background .5s, opacity 1s;
}
/*SCROLL DOWN SETTINGS*/
.sticky-nav {
	/*background: rgba(255, 255, 255, 0.9);*/
	background-color: #723f68;
}
.sticky-nav .menu li a {
	color: #333333;
}
.sticky-nav .bottom-border {
	display: none;
}
.sticky-nav .menu li a:hover {
	border-color: rgba(0, 0, 0, 0);
}
.sticky-nav .sidebar-menu-toggle,
.sticky-nav .mobile-menu-toggle {
	color: #333333;
}
/*.sticky-nav .nav-dropdown {
	background: rgba(255, 255, 255, 0.9);
}*/
.sticky-nav .has-dropdown:before {
	color: #333333;
}

.text-white {
	color: #fff;
}
/*nav .text-right {
	position: relative;
}*/

@media all and (max-width: 768px) {
	nav {
		max-height: 67px;
		overflow: hidden;
		background: #723f68 !important;
	}
	nav .menu li {
		float: none;
		margin-bottom: 24px;
	}
	nav .menu li a {
		color: #333333 !important;
		padding-bottom: 0px;
	}
	nav .logo {
		max-width: 90px;
		top: -2px;
	}
	nav .logo-dark {
		opacity: 1 !important;
	}
	nav .logo-light {
		opacity: 0 !important;
	}
	nav .menu {
		width: 100%;
		display: block;
		margin-top: 67px;
		margin-right: 0px;
	}
	nav .social-link {
		float: left !important;
	}
	.sidebar-menu-toggle {
		display: none;
	}
	.mobile-menu-toggle {
		display: block;
		position: fixed;
		top: 17px;
		right: 24px;
		color: #333333 !important;
	}
	.open-menu {
		max-height: 800px !important;
	}


.bottom-border {
	position: absolute;
	bottom: 2px;
	width: 100%;
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}
/*!
// Footer
// --------------------------------------------------*/
.navbar-default {
	background-color: #404a27;
	border-color: transparent;}

.navbar-fixed-bottom {
	background-color: #404a27;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 45px 50px;
}
